<!DOCTYPE html>
<html>
<head>
    <title>ReDoc</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700%7CRoboto:300,400,700"
          crossorigin="anonymous">
    <style>body {
        margin: 0;
        padding: 0;
    }</style>
</head>
<body>

<redoc spec-url='{% url schema_url %}'></redoc>

<script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.12/bundles/redoc.standalone.min.js"
        integrity="sha384-jlOWATwkcAVBMzWihDg8Hvgr1kOlVxaXVmSEx6YghDtQ+5VtI9pSOTGsC9I+xzBg"
        crossorigin="anonymous"></script>
</body>
</html>